<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Field Utilization</h4>
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" #map3>
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    <agm-marker [latitude]="latA" [longitude]="lngA"></agm-marker>
                    <agm-marker [latitude]="latB" [longitude]="lngB"></agm-marker>
                    <agm-marker [latitude]="latC" [longitude]="lngC"></agm-marker>
                    <agm-polyline>
                        <agm-polyline-point [latitude]="lat" [longitude]="lng"></agm-polyline-point>
                        <agm-polyline-point [latitude]="latA" [longitude]="lngA"></agm-polyline-point>
                        <agm-polyline-point [latitude]="latB" [longitude]="lngB"></agm-polyline-point>
                        <agm-polyline-point [latitude]="latC" [longitude]="lngC"></agm-polyline-point>

                    </agm-polyline>
                </agm-map>
            </div>
        </div>
    </div>
</div>
