<div class="container-lg">
    <h1>Agricode Management Portal</h1>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h6><b>Agricode Services</b></h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div *ngFor="let item of menuItems" class="col-4">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><b>{{ item.name }}</b></li>
                                <li *ngFor="let service of item.items" class="list-group-item"><a [routerLink]="service.page">{{service.name }}</a></li>
                              </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h6><b>Get started with Agricode</b></h6>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-info">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h4 ><b>Stay connected to your farms devices on the go</b></h4>
                    </div>
                    <hr>
                    <p class="m-b-0 m-t-10">Agricode portal mobile app is now available on play and app store. Download the app to your ios or Android device</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h4 ><b>Explore Agricode</b></h4>
                    </div>
                    <hr>
                    <h5 class="font-normal"><b>Conserve water with AmanziJo</b> </h5>
                    <p class="m-b-0 m-t-10">Titudin venenatis ipsum ac feugiat. Vestibulum ullamcorper quam.</p>
                    <a>View more</a>
                    <hr>
                    <h5 class="font-normal"><b>Enter new markets with farmers market</b> </h5>
                    <p class="m-b-0 m-t-10">Titudin venenatis ipsum ac feugiat. Vestibulum ullamcorper quam.</p>
                    <a>View more</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h4 ><b>Help us improve Agricode</b></h4>
                    </div>
                    <hr>
                    <p class="m-b-0 m-t-10">Submit feedback to tell us your experience with the Agricode Management Portal</p>
                </div>
            </div>
        </div>
    </div>
</div>