<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/03.jpg) no-repeat center center;">
    <div class="auth-box on-sidebar m-3 m-md-0">
        <div>
            <div class="logo">
                <!-- <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span> -->
                <h5 class="font-medium m-b-20">Sign up for Vidly </h5>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal m-t-20" [formGroup]="organizationForm" (ngSubmit)="onSubmit()">
                        <div class="form-group row ">
                            <div class="col-12 ">
                                <label>Organization name</label>
                                <input class="form-control" type="text" formControlName="name" placeholder="Organization name">
                                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                                    <div *ngIf="name.errors?.required">
                                        Name is required.
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <label>Email Address</label>
                                <input class="form-control" type="text" formControlName="email" placeholder="Email">
                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                                    <div *ngIf="email.errors?.required">
                                        Email is required.
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <label>Phone</label>
                                <input class="form-control" type="text" formControlName="phone" placeholder="phone">
                                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="text-danger">
                                    <div *ngIf="phone.errors?.required">
                                        Phone is required.
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <label>Address</label>
                                <input class="form-control" type="text" formControlName="address" placeholder="address">
                                <div *ngIf="address.invalid && (address.dirty || address.touched)" class="text-danger">
                                    <div *ngIf="address.errors?.required">
                                        Address is required.
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <label>Password</label>
                                <input class="form-control" type="password" formControlName="password" placeholder="Password">
                                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                                    <div *ngIf="password.errors?.required">
                                        Password is required.
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <label>Confirm Password</label>
                                <input class="form-control" type="password" placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 ">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" (change)="acceptTerms($event)">
                                    <label class="custom-control-label" for="customCheck1">I agree to all <a href="#">Terms and Conditions</a></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center ">
                            <div class="col-xs-12 p-b-20 ">
                                <button type="submit" class="btn btn-block btn-lg btn-info">
                                    <span *ngIf="isProgress" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                    Next step
                                </button>
                                <small class="text-danger">{{ error }}</small>
                            </div>
                        </div>
                        <div class="form-group m-b-0 m-t-10 ">
                            <div class="col-sm-12 text-center ">
                                Already have an account? <a href="/authentication/login" class="text-info m-l-5 "><b>Sign In</b></a>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <notifier-container></notifier-container>
    </div>
</div>
