<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">All Groups</h4>
            </div>
            <table class="table m-b-0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><a routerLink="/apps/devices">Soil Quality Sensors</a></td>
                        <td>sdfj3434df</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><a routerLink="/apps/devices">Temperature Monitors</a></td>
                        <td>s34243df</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>