<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">All Rules</h4>
            </div>
            <table class="table m-b-0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><a routerLink="/apps/rule-conditions">Soil Quality Monitor</a></td>
                        <td>Disabled</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><a routerLink="/apps/rule-conditions">Temperature Monitor</a></td>
                        <td>Enabled</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>